*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
}

/* Utility */

/* Col-size */

.col-25{
    width: 25%;
}

.col-50{
    width: 50%;
}

/* Bg-color */

.bg-top-bar{
    background-color: #080b12;
}

.bg-side-bar{
    background-color: #000;
}

.bg-main{
    background-color: #141922;
}

.bg-footer{
    background: #282828;
}

/* Text-color */

.text-white{
    color: #fff;
}

.text-grey{
    color: #656565;
}

/* Text-align capitalize nodeco bold */

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-upper{
    text-transform: uppercase;
}

.text-nodec{
    text-decoration: none;
}

.bold{
    font-weight: bold;
}

/* Img-width */

.img-full{
    width: 100%;
}

.img-50{
    width: 50%;
}

.img-10{
    width: 10%;
}

.img-08{
    width: 8%;
}

/* Border-radius 50 */

.border-radius-50{
    border-radius: 50%;
}

/* Filter */

.filter{
    filter: invert(0.5);
}

/* Margin */

.margin-left{
    margin-left: 10px;
}

.margin-right{
    margin-right: 10px;
}

.margin-top{
    margin-top: 10px;
}

.margin-bottom{
    margin-bottom: 10px;
}

/* Padding-left */

.padding-left{
    padding-left: 5px;
}

.padding-right{
    padding-right: 5px;
}

.padding-top{
    padding-top: 5px;
}

.padding-bottom{
    padding-bottom: 5px;
}

/* border */

.border-bottom{
    border-bottom: 1px solid #656565;
}

/* Flex */

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-start{
    justify-content: flex-start;
    align-items: center;
}

/* Structure Bases */

.container .jumbotron{
    height: 90vh;
}

footer{
    min-height: 10vh;
    padding: 0 5px;
    align-items: center;
}

/* Structure content */

.container .jumbotron .sidebar{
    max-width: 200px;
    padding: 15px;
    position: relative;
}

.container .jumbotron .main{
    width: calc(100% - 200px);
    overflow: auto;
    position: relative;
}

.container .jumbotron .main .top-bar{
    min-height: 80px;
    line-height: 80px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 200px);
    z-index: 1;
}

/* Element in section */

/* Sidebar */

.container .jumbotron .sidebar .tools > div{
    padding: 5px 0;
}

.container .jumbotron .sidebar .playlist > p{
    padding: 10px 0;
}

#plus{
    background-color: #a3a3a3;
    color: #000;
    padding: 10px;
    font-size: 16px;
}

.container .jumbotron .sidebar .user{
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
}

/* Main */

.container .jumbotron .main .top-bar a{
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 12px;
}

.container .jumbotron .main .gallery .row ul li{
    display: inline-block;
    list-style-type: none;
    padding: 20px 5px;
    font-size: 12px;
    cursor: pointer;
}

.container .jumbotron .main .gallery{
    padding: 0 10px;
    margin-top: 80px;
}

.container .jumbotron .main .gallery .box{
    position: relative;
}

.container .jumbotron .main .gallery .box i{
    display: none;
}

.container .jumbotron .main .gallery .box:hover img{
    opacity: 0.5;
}

.container .jumbotron .main .gallery .box:hover i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.container .jumbotron .main .row-2 .col,
.container .jumbotron .main .row-3 .col,
.container .jumbotron .main .row-4 .col {
    flex-basis: 200px;
}

/* Main background-img */

/* .container .jumbotron .main .row-2 .col-1{
    background-image: url('../img/metal_lifting.jpg');
    background-size: cover;
}

.container .jumbotron .main .row-2 .col-2{
    background-image: url('../img/stranger.jpeg');
    background-size: cover;
}

.container .jumbotron .main .row-2 .col-3{
    background-image: url('../img/aquietplace.jpeg');
    background-size: cover;
}

.container .jumbotron .main .row-2 .col-4{
    background-image: url('../img/split.jpeg');
    background-size: cover;
}

.container .jumbotron .main .row-2 .col-5{
    background-image: url('../img/cure.jpeg');
    background-size: cover;
}

.container .jumbotron .main .row-2 .col-6{
    background-image: url('../img/sinister.jpeg');
    background-size: cover;
} */

/* Footer */

footer .col-25 .song-info p{
    font-size: 12px;
}

