*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    background-color: goldenrod;
}

/* Utility */

/* Bg-color */

.bg-top-bar{
    background-color: #080b12;
}

.bg-side-bar{
    background-color: #000;
}

.bg-main{
    background-color: #141922;
}

.bg-footer{
    background: #282828;
}

/* Text-color */

.text-white{
    color: #fff;
}

.text-grey{
    color: #656565;
}

/* Text-align capitalize nodeco */

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-upper{
    text-transform: uppercase;
}

.text-nodec{
    text-decoration: none;
}

/* Img-width */

.img-50{
    width: 50%;
}

.img-10{
    width: 10%;
}

.img-08{
    width: 8%;
}

/* Filter */

.filter{
    filter: invert(0.5);
}

/* Margin */

.margin-bottom{
    margin-bottom: 10px;
}

/* Padding-left */

.padding-left{
    padding-left: 5px;
}

.padding-right{
    padding-right: 5px;
}

.padding-top{
    padding-top: 5px;
}

.padding-bottom{
    padding-bottom: 5px;
}

/* border */

.border-bottom{
    border-bottom: 1px solid #656565;
}

/* Flex */

.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-start{
    justify-content: flex-start;
    align-items: center;
}

/* Structure Bases */

.container .jumbotron{
    height: 90%;
}

footer{
    min-height: 10%;
    justify-content: space-between;
}

/* Structure content */

.container .jumbotron .sidebar{
    width: 250px;
    height: 100%;
    padding: 15px;
}

.container .jumbotron .main{
    width: 80%;
    height: 100%;
    overflow: auto;
}

.container .jumbotron .main .top-bar{
    min-height: 80px;
    line-height: 80px;
    padding-right: 20px;
}

/* Element */

/* Sidebar */

.container .jumbotron .sidebar .tools > div{
    padding: 5px 0;
}

.container .jumbotron .sidebar .playlist > p{
    padding: 10px 0;
}

#plus{
    background-color: #a3a3a3;
    color: #000;
    padding: 10px;
    font-size: 16px;
}

/* Main */

.container .jumbotron .main .top-bar a{
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 12px;
}

/* Footer */