*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    height: 900px;
    background-color: goldenrod;
    position: relative;
}

/* Utility */

/* Bg-color */

.bg-top-bar{
    background-color: #080b12;
}

.bg-side-bar{
    background-color: #000;
}

.bg-main{
    background-color: #141922;
}

.bg-footer{
    background: #282828;
}

/* Text-color */

.text-white{
    color: #fff;
}

.text-grey{
    color: #353535;
}

/* Text-align capitalize nodeco */

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-upper{
    text-transform: uppercase;
}

.text-nodec{
    text-decoration: none;
}


/* Flex */

.flex{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

/* Structure Bases */

.container .jumbotron{
    height: 90%;
}

footer{
    height: 10%;
    justify-content: space-between;
}

/* Structure content */

.container .jumbotron .sidebar{
    width: 20%;
    height: 100%;
}

.container .jumbotron .main{
    width: 80%;
    height: 100%;
    overflow: auto;
}

.container .jumbotron .main .top-bar{
    height: 80px;
    line-height: 80px;
    padding-right: 20px;
}

/* Element */


.container .jumbotron .main .top-bar a{
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 12px;
}


