/*? Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    max-width: 100%;
}

/*? Custom Bar */

::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   

::-webkit-scrollbar-thumb {
    background: #a5f42d;
    border-radius: 10px;
}


/* ********UTILITY******** */

/* ********COL SIZE******** */

.col-25{
    width: 25%;
}

.col-50{
    width: 50%;
}

/* ********BG COLOR******** */

.bg-top-bar{
    background-color: rgba(8, 11, 18, 0.5)
}

.bg-side-bar{
    background-color: #000;
}

.bg-main{
    background-color: #141922;
}

.bg-footer{
    background-color: #282828;
}

.bg-footer-bar{
    background-color: #5a5a5a;
}

/* ********TEXT COLOR******** */

.text-white{
    color: #fff;
}

.text-grey{
    color: #656565;
}

/* ********TEXT Align Capitalize Nodeco Bold******** */

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-upper{
    text-transform: uppercase;
}

.text-nodec{
    text-decoration: none;
}

.bold{
    font-weight: bold;
}

/* ********FONT SIDEBAR******** */

.font-sidebar{
    font-size: 13px;
}

/* ********IMG WIDTH******** */

.img-full{
    width: 100%;
}

.img-70{
    width: 70%;
}

.img-50{
    width: 50%;
}

.img-20{
    width: 20%;
}

.img-15{
    width: 15%;
}

.img-10{
    width: 10%;
}

.img-08{
    width: 8%;
}

/* ********BORDER RADIUS-50******** */

.border-radius-50{
    border-radius: 50%;
}

/* ********FILTER EFFECT******** */

.filter{
    filter: invert(0.6);
}

/* ********MARGIN******** */

.margin-left{
    margin-left: 10px;
}

.margin-right{
    margin-right: 10px;
}

.margin-top{
    margin-top: 10px;
}

.margin-top-row{
    margin-top: 50px;
}

.margin-bottom{
    margin-bottom: 10px;
}

/* ********PADDING******** */

.padding-left{
    padding-left: 5px;
}

.padding-left-footer{
    padding-left: 20px;
}

.padding-right{
    padding-right: 5px;
}

.padding-top{
    padding-top: 5px;
}

.padding-top-playlist{
    padding-top: 25px;
}

.padding-bottom{
    padding-bottom: 5px;
}

/* ********BORDER******** */

.border-bottom{
    border-bottom: 1px solid #656565;
}

/* ********FLEX SETTINGS******** */

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-start{
    justify-content: flex-start;
    align-items: center;
}

/* ********START******** */

/* ! SIDEBAR */

.container .jumbotron .sidebar{
    width: 200px;
    padding: 15px;
    justify-content: space-between;
    overflow: hidden;
}

#logo-xs{
    display: none;
}

.container .jumbotron .sidebar .playlist{
    flex-grow: 1;
    overflow: auto;
}

/* ********HOVER EFFECT******** */

.container .jumbotron .sidebar .tools .home:hover,
.container .jumbotron .sidebar .tools .search:hover,
.container .jumbotron .sidebar .tools .library:hover{
    cursor: pointer;
    color: #fff;
    border-left: 2px solid #a5f42d;
}

.container .jumbotron .sidebar .tools .home:hover img,
.container .jumbotron .sidebar .tools .search:hover img,
.container .jumbotron .sidebar .tools .library:hover img{
    cursor: pointer;
    filter: invert(0);
}

/* ******** END HOVER EFFECT******** */


.container .jumbotron .sidebar .tools > div{
    padding: 5px 0;
}

.container .jumbotron .sidebar .playlist > p{
    padding: 10px 0;
}

.container .jumbotron .sidebar .playlist .header-playlist > p:hover{
    cursor: pointer;
    color: #fff;
}

.container .jumbotron .sidebar .playlist ul li:hover{
    cursor: pointer;
    color: #fff;
}

#plus{
    background-color: #a3a3a3;
    color: #000;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 25px;
    vertical-align: middle;
}

/* ! MAIN */

.container .jumbotron{
    height: calc(100vh - 100px);
}

.container .jumbotron .main{
    width: calc(100% - 200px);
    overflow: auto;
    position: relative;
}

.container .jumbotron .main .top-bar{
    height: 80px;
    line-height: 80px;
    padding-right: 20px;
    margin-right: 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 220px);
    z-index: 2;
}

.container .jumbotron .main .top-bar a{
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 12px;
}

.container .jumbotron .main .top-bar a:hover{
    font-size: 16px;
}

.container .jumbotron .main .gallery{
    padding: 0 10px;
    margin-top: 80px;
}

.container .jumbotron .main .gallery .header-gallery ul li{
    display: inline-block;
    list-style-type: none;
    padding: 5px 5px;
    font-size: 14px;
    cursor: pointer;
}

/* ********HOVER EFFECT******** */

.container .jumbotron .main .gallery .header-gallery ul li:hover{
    border-bottom: 1px solid #a5f42d;
    color: #fff;
}

/* !START ROW IN MAIN */

/* Define flex-basis */

.container .jumbotron .main .row-gallery .col{
    flex-basis: 200px;
}

/* Hover effect for box */

.container .jumbotron .main .gallery .row-gallery .col .box{
    position: relative;
}

.container .jumbotron .main .gallery .row-gallery .col .box i{
    display: none;
}

.container .jumbotron .main .gallery .row-gallery .col .box:hover img{
    opacity: 0.5;
    cursor: pointer;
}

.container .jumbotron .main .gallery .row-gallery .col .box:hover i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

/* !START FOOTER */

footer{
    height: 100px;
    padding: 0 5px;
    align-items: center;
    position: relative;
    z-index: 1;
}

footer :first-child .song-info p{
    font-size: 12px;
    cursor: pointer;
}

footer :first-child .song-info :last-child:hover{
    text-decoration: underline;
}

/* ********HOVER EFFECT******** */


footer :first-child .icon-footer-left :first-child:hover{
    cursor: pointer;
    color: red;
}

footer :first-child .icon-footer-left :last-child:hover{
    cursor: pointer;
    color: rgb(95, 66, 47);
}

/* ********END HOVER EFFECT******** */


footer :nth-child(2){
    align-items: center;
}

footer :nth-child(2) .btn-bar-top > i{
    margin: 10px;
    font-size: 18px;
}

footer :nth-child(2) .btn-bar-top #play-btn{
    font-size: 35px;
}

footer :nth-child(2) .btn-bar-bottom .start{
    padding: 0 15px;
    font-size: 12px;
}


footer :nth-child(2) .btn-bar-bottom .play-bar{
    width: 400px;
    height: 3px;
    border-radius: 10px;
    position: relative;
}


footer :nth-child(2) .btn-bar-bottom .play-bar .playing-bar{
    width: 50px;
    height: 3px;
    border-radius: 10px;
    background-color: #fff;
}

footer :nth-child(2) .btn-bar-bottom .play-bar:hover .playing-bar{
    background-color: #a5f42d;
    cursor: pointer;
}

/*? First circle play */

footer :nth-child(2) .btn-bar-bottom .play-bar .playing-bar .circle-play{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -3px;
    left: 42px;
    display: none;
}

footer :nth-child(2) .btn-bar-bottom .play-bar:hover .playing-bar .circle-play{
    display: block;
}

footer :last-child{
    justify-content: flex-end;
    align-items: center;
}

footer :last-child .vol{
    width: 150px;
    height: 3px;
    border-radius: 10px;
}

footer :last-child .vol .playing-bar{
    width: 30px;
    height: 3px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
}

footer :last-child .vol:hover .playing-bar{
    background-color: #a5f42d;
    cursor: pointer;
}

/*? Second circle play */

footer :last-child .vol .playing-bar .circle-play{
    height: 10px;
    max-width: 10px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -3px;
    left: 28px;
    display: none;
}

footer :last-child .vol:hover .playing-bar .circle-play{
    display: block;
}

/* TODO - START MEDIA QUERY */

@media screen and (max-width: 1200px){
    .main .row-gallery{
        flex-wrap: wrap;
    }
    
    .main .row-gallery .col img{
        padding: 10px 0;
        width: 90%;
    }

    figcaption{
        font-size: 14px;
    }
}

@media screen and (max-width: 992px){
    .main .row-gallery{
        flex-wrap: wrap;
    }
    
    .main .row-gallery .col img{
        padding: 15px 0;
        width: 80%;
    }

    figcaption{
        font-size: 12px;
    }
}

@media screen and (max-width: 576px){
    .container .jumbotron .main{
        width: 100%;
    }
    .container .jumbotron .main .top-bar{
        width: calc(100% - 110px)
    }
    .container .jumbotron .sidebar{
        width: 100px;
        padding: 15px;
    }

    #logo-xl{
        display: none;
    }

    #logo-xs{
        display: block;
        width: 80%;
    }

    .container .jumbotron .sidebar .tools{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    
    .container .jumbotron .sidebar .tools img,
    .container .jumbotron .sidebar .user img{
        width: 50%;
    }

    .flex-mobile{
        display: flex;
    }

    .flex-center-mobile{
        justify-content: center;
    }    

    .container .jumbotron .sidebar .tools p,
    .container .jumbotron .sidebar .playlist,
    .container .jumbotron .sidebar .user p{
        display: none;
    }

    .container .jumbotron .sidebar .user .download{
        border: none;
    }

    footer :nth-child(2) .btn-bar-top > i{
        margin: 2px;
        font-size: 15px;
    }

    footer :nth-child(2) .btn-bar-bottom .play-bar{
        width: 150px;
    }

    footer :nth-child(2) .btn-bar-bottom .start{
        padding: 0 5px;
        font-size: 10px;
    }

    footer :last-child .icon-footer-right > i{
        padding-left: 5px;
    }
}


